<div class="field-filter form-horizontal" data-key="created_at" data-type="DateCreated">
    {{> created-field}}

    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-4">
            <a href="#" class="text-danger remove">Remove filter</a>
        </div>
    </div>
</div>
