{% extends "base.html" %}

{% block bodydata %} data-project-id="{{project.id}}"{% endblock %}
{% block title %} | Project: {{project.name}}{% endblock %}

{% block main %}
    {% csrf_token %}
        <div class="page-header">
            <div class="container">
                <h1>{{project.name}}</h1>
                {% if project.description %}<p class="lead">{{project.description}}</p>{% endif %}
            </div>
        </div>

        <div class="container">
            {% include 'snippets/messages.html' %}

            <div class="row">
                <div class="col-sm-3">
                    {% if role == 'administrator' %}
                    <div class="list-group">
                        <a href="{% url 'admin:category_list' project.id %}" class="list-group-item"><span class="badge">{{ project.observationtypes.count }}</span>Categories</a>
                        <a href="#" class="list-group-item"><span class="badge">{{ project.views.count }}</span>Data groupings</a>
                        <a href="#" class="list-group-item"><span class="badge">{{ project.usergroups.count }}</span>User groups</a>
                        <a href="{% url 'admin:project_settings' project.id %}" class="list-group-item">Settings</a>
                    </div>
                    {% else %}
                        <div class="alert alert-info">
                            You are a {{role}} of this project.
                        </div>
                    {% endif %}
                    
                </div>
                {% if role != 'Watcher' %}
                    <div class="col-sm-4">
                        <span class="number">{{ contributions }}</span> contributions you have made to the project.    
                    </div>
                    <div class="col-sm-4">
                        <span class="number">{{ maps }}</span> maps you can access.    
                    </div>
                {% else %}
                    <div class="col-sm-4">
                        You can not contribute to this project, but there are
                        <span class="number">{{ maps }}</span> maps you can access.    
                    </div>
                {% endif%}
            </div>
        </div>
{% endblock %}

{% block libraries %}

{% endblock %}
