{% extends "base.html" %}

{% block title %} | Superuser tools{% endblock %}

{% block main %}
<div class="page-header">
    <div class="container">
        <h1>Superuser tools</h1>

        <ul class="nav nav-tabs header-nav">
            <li role="presentation"><a href="{% url 'admin:superuser_index' %}">Platform settings</a></li>
            <li role="presentation"><a href="{% url 'admin:superuser_manage_users' %}">Manage superusers</a></li>
            <li role="presentation" class="active"><a href="{% url 'admin:superuser_manage_inactiveusers' %}">Activate inactive users</a></li>
            <li role="presentation"><a href="{% url 'admin:superuser_projects' %}">Manage all projects</a></li>
        </ul>
    </div>
</div>

<div class="container">
    {% include 'snippets/messages.html' %}

    <div class="row">
        <form class="col-sm-8 col-sm-offset-2" method="POST" action="{% url 'admin:superuser_manage_inactiveusers' %}">
            {% csrf_token %}
            <h3 class="header">Manage inactive users</h3>

            {% if inactive_users|length %}
                <p>Select users you would like to activate by manually confirming their email addresses:</p>

                <div class="form-group">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Display name</th>
                                <th>Email address</th>
                                <th>Date joined</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for user in inactive_users %}
                            <tr>
                                <td class="text-center"><input type="checkbox" name="activate_users" value="{{ user.id }}"></td>
                                <td>{{ user.display_name }}</td>
                                <td>{{ user.email|urlize }}</td>
                                <td>{{ user.date_joined|date:'d F, Y' }}</td>
                            </td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <button type="submit" class="btn btn-primary">Activate selected</button>
            {% else %}
                <p>No inactive users were found.</p>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
