{% extends "base.html" %}

{% block title %} | Superuser tools{% endblock %}

{% block main %}
<div class="page-header">
    <div class="container">
        <h1>Superuser tools</h1>

        <ul class="nav nav-tabs header-nav">
            <li role="presentation" class="active"><a href="{% url 'admin:superuser_index' %}">Platform settings</a></li>
            <li role="presentation"><a href="{% url 'admin:superuser_manage_users' %}">Manage super users</a></li>
            <li role="presentation"><a href="{% url 'admin:superuser_manage_inactiveusers' %}">Activate inactive users</a></li>
            <li role="presentation"><a href="{% url 'admin:superuser_projects' %}">Manage all projects</a></li>
        </ul>
    </div>
</div>


<div class="container">
    {% include 'snippets/messages.html' %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3 class="header">Platform Settings</h3>

            <form method="POST" action="{% url 'admin:superuser_index' %}" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control input-lg" id="name" name="name" maxlength="50" value="{{ site.name }}" required>
                </div>

                <div class="form-group">
                    <label for="name">Domain</label>
                    <input type="url" class="form-control input-lg" id="domain" name="domain" maxlength="100" value="{{ site.domain }}" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-link">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block libraries %}
            <script src="/static/js/admin.ui.forms.validate.js"></script>
{% endblock %}
