<div class="form-group">
    <label for="{{key}}-min">is older than</label>
    <input type="datetime" class="form-control" name="{{key}}-min" id="minval">
    <label for="younger">and younger than</label>
    <input type="datetime" class="form-control" name="{{key}}-max" id="maxval">
</div>