<div class="form-group">
    <label for="{{key}}-ref">is</label>
    <select name="{{key}}-ref" id="reference-value" class="form-control">
        <option></option>
        <option value="true">True</option>
        <option value="false">False</option>
    </select>
</div>