<div class="col-sm-6" id="info">
    <h4>{{observationtype.name}}</h4>
    <p>{{observationtype.description}}</p>
    <table class="table table-striped">
        <tr><th>Field name</th><th>Value</th></tr>
        {{#each observationtype.fields }}
            <tr><td>{{name}}</td><td>{{value ../feature this}}</td></tr>
        {{/each}}
    </table>
</div>