<h4>Observation type name</h4>
<table class="table table-condensed">
    <tr><th>Field name</th><th>Value</th></tr>
    <tr><td>Contributor:</td><td>Oliver Roick</td></tr>
    <tr><td>Version:</td><td>{{properties.version}}</td></tr>
    <tr><td>Status:</td><td>{{properties.status}}</td></tr>
</table>
<a class="btn btn-primary btn-sm btn-block" href="{{id}}">Open observation</a>