{% extends "base.html" %}

{% load filters %}
{% load usergroups %}

{% block bodydata %} data-project-id="{{grouping.project.id}}" data-view-id="{{grouping.id}}"{% endblock %}
{% block title %} | Data grouping: {{grouping.name}}{% endblock %}

{% block main %}
    {% csrf_token %}
        <div class="page-header">
            <div class="container">
                <h1>{{grouping.project.name}}</h1>
                <ul class="header-nav">
                    <li><a href="{% url 'admin:category_list' grouping.project.id %}">Categories <span class="badge">{{ grouping.project.observationtypes.count }}</span></a></li>
                    <li class="active"><a href="{% url 'admin:grouping_list' grouping.project.id %}">Data groupings <span class="badge">{{ grouping.project.views.count }}</span></a></li>
                    <li><a href="#">User groups <span class="badge">{{ grouping.project.usergroups.count }}</span></a></li>
                </ul>
            </div>
        </div>

        <div class="container">
            {% include 'snippets/messages.html' %}

            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>{{ grouping.name }}</h3>
                            {% if grouping.description %}<p>{{ grouping.description }}</p>{% endif %}
                        </div>
                        <div class="list-group">
                            <a href="{% url 'admin:grouping_overview' grouping.project.id grouping.id %}" class="list-group-item">Filters</a>
                            <a href="{% url 'admin:grouping_permissions' grouping.project.id grouping.id %}" class="list-group-item active">Permissions</a>
                            <a href="{% url 'admin:view_settings' grouping.project.id grouping.id %}" class="list-group-item">Settings</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-8">
                    <h3>
                        Permissions
                        <div class="btn-group pull-right">
                            <button type="button" id="grant-all" class="btn btn-default btn-sm"><span class="text-success">Grant to all groups</span></button>
                            <button type="button" id="revoke-all" class="btn btn-default btn-sm"><span class="text-danger">Revoke from all groups</span></button>
                        </div>
                    </h3>
                    {% usergroups grouping %}
                </div>
            </div>

        </div>

                    

            <div class="row tab-pane" id="general-settings">
                
            </div>
        </div>
{% endblock %}

{% block modals %}
        
{% endblock %}

{% block libraries %}
            <script src="/static/js/admin.ui.map.permissions.js"></script>
            <script src="/static/js/admin.control.ajax.js"></script>
{% endblock %}