{% extends "base.html" %}

{% load filters %}
{% load usergroups %}

{% block bodydata %} data-project-id="{{view.project.id}}" data-view-id="{{view.id}}"{% endblock %}
{% block title %} | Map: {{view.name}}{% endblock %}

{% block main %}
	{% csrf_token %}
		<div class="page-header">
			<div class="container">
				<ol class="breadcrumb">
					<li><a href="{% url 'admin:dashboard' %}">Dashboard</a></li>
					<li><a href="{% url 'admin:project_settings' view.project.id %}">{{ view.project.name }}</a></li>
					<li class="active">{{view.name}}: Settings</li>
				</ol>

				<h1>{{view.name}}</h1>
				<p class="lead">
					<span id="descriptionText">{% if view.description %} {{view.description}} {% endif %}</span>
					<button id="edit" type="button" class="btn btn-link"><span class="glyphicon glyphicon-edit"></span> Edit</button>
				</p>
				<form class="form-inline hidden" id="description-form" role="form">
					{% csrf_token %}
					<div class="form-group">
						<label class="sr-only" for="desription">Map description</label>
						<input type="text" class="form-control" id="description" name="description" placeholder="Enter a map desription" {% if view.description %}value="{{view.description}}"{% endif %}>
					</div>
					<button type="submit" class="btn btn-primary" data-loading-text="Updating...">Save</button>
					<button type="button" class="btn btn-link">Cancel</button>
				</form>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#rules" data-toggle="tab">Filter definitions</a></li>
                        <li><a href="#permissions" data-toggle="tab">User permissions</a></li>
						<li><a href="#general-settings" data-toggle="tab">General</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container tab-content">
			<div class="row tab-pane active" id="rules">
				<div class="col-md-12">
					<div class="panel panel-default"> <!-- User group list -->
						<div class="panel-heading">
							<h2 class="panel-title">Filter definitions</h2>
						</div>
						<div class="list-group">
							{% for rule in view.rules.all %}
								<a href="{% url 'admin:rule_settings' rule.view.project.id rule.view.id rule.id %}" class="list-group-item">
									Includes contributions of type <strong>{{ rule.observation_type.name }}</strong> {% if rule.filters|length > 0 %}where {% endif %}
									<ul>
										{% filters rule %}
									</ul>
								</a>
                            {% empty %}
                                <p class="list-group-item">Define rules according to which contributions to the project are filtered for the view. Filter rules are based on contribution types and values provided for the individual fields in the contribution.</p>
                            {% endfor %}
						</div>
						<div class="panel-footer">
							<a href="{% url 'admin:view_rule_create' view.project.id view.id %}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Define new filter</a>
						</div>
					</div> <!-- /Filter definition List -->
				</div>
			</div>

            <div class="row tab-pane" id="permissions">
                <div class="col-md-12">
                    <div class="panel panel-default"> <!-- User group list -->
                        <div class="panel-heading">
                            <h2 class="panel-title">User permissions</h2>
                            Select the user groups that you want to grant access access to this map.
                        </div>
                        <ul class="list-group">
                            {% usergroups view %}
                        </ul>
                    </div>
                </div>
            </div>

			<div class="row tab-pane" id="general-settings">
				<div class="col-sm-8 col-sm-offset-2">
                    <div class="panel panel-warning toggle-private {% if not view.isprivate %} hidden{% endif %}">
                        <div class="panel-heading">
                            <h2 class="panel-title">Make this map public</h2>
                        </div>
                        <div class="panel-body">
                            <p>A public map will be accesible by all users who have access to the project.</p>
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#make-public-confirm">Make public</button>
                        </div>
                    </div>

                    <div class="panel panel-warning toggle-private {% if view.isprivate %} hidden{% endif %}">
                        <div class="panel-heading">
                            <h2 class="panel-title">Make this map private</h2>
                        </div>
                        <div class="panel-body">
                            <p>A private map is only accessible by project administrators and members of any user group that is assigned to the view.</p>
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#make-private-confirm">Make private</button>
                        </div>
                    </div>
                </div>
				<div class="col-sm-8 col-sm-offset-2">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h2 class="panel-title">Delete map</h2>
						</div>
						<div class="panel-body">
							<p>If you delete the map there's no way back.</p>
							<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-confirm">Delete this map</button>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block modals %}
		<!-- Delete confirmation modal -->
		<div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content panel-danger">
					<div class="modal-header panel-heading">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
					</div>
					<div class="modal-body panel-body">
						<p class="text-danger">You are about to delete the map <strong>{{view.name}}</strong>. This can not be undone.</p>
						<ul>
							<li>All users who are solely assigned to one of the views user groups will not be able to access the project any longer.</li>
						</ul>
					</div>
					<div class="modal-footer panel-footer">
						<button type="button" name="confirm" class="btn btn-danger">I'm absolutely sure, delete the map!</button>
					</div>
				</div>
			</div>
		</div>
		<!-- /Delete confirmation modal -->

		<div class="modal fade" id="make-public-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content panel-warning">
                    <div class="modal-header panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
                    </div>
                    <div class="modal-body panel-body">
                        <p><strong>Before you make the map public, please read through the consequences of this action.</strong></p>
                        <p>A public map will be accesible by all users who have access to the project.</p>
                    </div>
                    <div class="modal-footer panel-footer">
                        <button type="button" name="confirm" value="false" class="btn btn-warning" data-loading-text="Loading...">Yes, make the map public.</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="make-private-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content panel-warning">
                    <div class="modal-header panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
                    </div>
                    <div class="modal-body panel-body">
                        <p><strong>Before you make the map private, please read through the consequences of this action.</strong></p>
                        <p>A map is only accessible by the following users:</p>
                        <ul>
                            <li>Project administrators</li>
                            <li>Members of any user group that is assigned to the map.</li>
                        </ul>
                    </div>
                    <div class="modal-footer panel-footer">
                        <button type="button" name="confirm" value="true" class="btn btn-warning" data-loading-text="Loading...">Yes, make the map private.</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block libraries %}
			<script src="/static/js/admin.ui.messages.js"></script>
			<script src="/static/js/admin.ui.descriptioneditor.js"></script>
			<script src="/static/js/admin.ui.updater.js"></script>
            <script src="/static/js/admin.ui.map.permissions.js"></script>
			<script src="/static/js/admin.control.ajax.js"></script>
{% endblock %}