{% extends "base.html" %}

{% block bodydata %} data-project-id="{{view.project.id}}" data-view-id="{{view.id}}"{% endblock %}
{% block title %} | View: {{view.name}}{% endblock %}

{% block main %}
		<div class="page-header">
			<div class="container">
				<ol class="breadcrumb">
					<li><a href="{% url 'admin:dashboard' %}">Dashboard</a></li>
					<li><a href="{% url 'admin:project_settings' view.project.id %}">{{ view.project.name }}</a></li>
					<li><a href="{% url 'admin:view_settings' view.project.id view.id %}">{{ view.name }}</a></li>
					<li class="active">Data</li>
				</ol>

				<h1>{{view.name}} </h1>
				<p class="lead">
					{% if view.description %} {{view.description}} {% endif %}
				</p>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div id="map" class="col-sm-12"></div>
			</div>
		</div>
{% endblock %}

{% block libraries %}
			<script src="/static/lib/handlebars/handlebars.js"></script>
            <script src="/static/js/templates.js"></script>
		<!-- LEAFLET -->
			<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
			<!--[if lte IE 8]>
				<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.ie.css" />
			<![endif]-->
			<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
		<!-- /LEAFLET -->

		<script src="/static/lib/moment/moment.min.js"></script>
		<!-- CUSTOM SPECIALS-->
			<script src="/static/js/admin.control.ajax.js"></script>
			<script src="/static/js/admin.ui.map.js"></script>
		<!-- /CUSTOM SPECIALS-->
{% endblock %}