{% extends "base.html" %}

{% block bodydata %} data-project-id="{{view.project.id}}" data-view-id="{{view.id}}"{% endblock %}
{% block title %} | Create new filter rule{% endblock %}

{% block main %}
        <div class="page-header">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="{% url 'admin:dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'admin:project_settings' view.project.id %}">{{ view.project.name }}</a></li>
                    <li><a href="{% url 'admin:view_settings' view.project.id view.id %}">{{view.name}}</a></li>
                    <li class="active">Create new filter rule</li>
                </ol>

                <h1>Create new filter rule</h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <form  role="form" class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="observationtype" class="control-label">Select observation type</label>
                        <select name="observationtype" id="observationtype" class="form-control">
                            <option value="-1"></option>
                            {% for type in view.project.observationtypes.all %}
                                <option value="{{type.id}}">{{type.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>

            <div class="row">
                <div id="field-options" class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2"></div>
            </div>

            <div class="row">
                <div id="field-options" class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <button type="button" class="btn btn-primary">Save</button>
                    <a href="{% url 'admin:view_settings' view.project.id view.id %}" class="btn btn-default" role="button">Cancel</a>
                </div>
            </div>
        </div>
{% endblock %}

{% block libraries %}
            <script src="/static/lib/handlebars/handlebars.js"></script>
            <script src="/static/js/templates.js"></script>
            <script src="/static/js/admin.ui.view.rules.js"></script>
            <script src="/static/js/admin.control.ajax.js"></script>
            <script src="/static/js/admin.ui.messages.js"></script>
{% endblock %}