{% extends "base.html" %}

{% block bodydata %} data-project-id="{{group.view.project.id}}" data-view-id="{{group.view.id}}"  data-group-id="{{group.id}}"{% endblock %}
{% block title %} | User group: {{group.name}}{% endblock %}

{% block main %}
		<div class="page-header">
			<div class="container">

				<ol class="breadcrumb">
					<li><a href="{% url 'admin:dashboard' %}">Dashboard</a></li>
					<li><a href="{% url 'admin:project_settings' group.view.project.id %}">{{ group.view.project.name }}</a></li>
					<li><a href="{% url 'admin:view_settings' group.view.project.id group.view.id %}">{{group.view.name}}</a></li>
					<li class="active">{{group.name}}</li>
				</ol>

				<h1>{{group.name}}</h1>
				<p class="lead">
					<span id="descriptionText">{% if group.description %} {{group.description}} {% endif %}</span>
					<button id="edit" type="button" class="btn btn-link"><span class="glyphicon glyphicon-edit"></span> Edit</button>
				</p>
				<form class="form-inline hidden" id="description-form" role="form">
					{% csrf_token %}
					<div class="form-group">
						<label class="sr-only" for="desription">Project description</label>
						<input type="text" class="form-control" id="description" name="description" placeholder="Enter a view desription" {% if group.description %}value="{{group.description}}"{% endif %}>
					</div>
					<button type="submit" class="btn btn-primary" data-loading-text="Updating...">Save</button>
					<button type="button" class="btn btn-link">Cancel</button>
				</form>
			</div>
		</div>

		<div class="container">
			<div class="row" id="users">
				<div class="col-md-6" id="permissions">
					<div class="panel panel-default"> <!-- Members list -->
						<div class="panel-heading">
							<h2 class="panel-title">Permissions</h2>
						</div>
						<div class="list-group">
							<div class="list-group-item">
								<div class="checkbox">
									<label><input type="checkbox" name="can_edit" {% if group.can_edit %} checked="true" {% endif %}> <strong>Edit.</strong> If checked, members are permitted to edit existing Features and Observations of the View. </label>
								</div>
							</div>
							<div class="list-group-item">
								<div class="checkbox">
									<label><input type="checkbox" name="can_read" {% if group.can_read %} checked="true" {% endif %}> <strong>Read.</strong> If checked, members are permitted to access pre-rendered maps of the data through a web-compliant image format.</label>
								</div>
							</div>
							<div class="list-group-item">
								<div class="checkbox">
									<label><input type="checkbox" name="can_view" {% if group.can_view %} checked="true" {% endif %}> <strong>View.</strong> If checked, members are permitted to access the data and download in machine readable formats &ndash; such as JSON, XML or CSV.</label>
								</div>
							</div>
						</div>
					</div> <!-- /Members List -->
				</div>
				<div class="col-md-6">
					<div class="panel panel-default" id="members" data-group-id="{{ group.id }}"> <!-- Administrators list -->
						<div class="panel-heading">
							<h2 class="panel-title">Members</h2>
						</div>

						{% include 'snippets/usergroup-editor.html' with users=group.users.all %}
					</div> <!-- /Administrators List -->
				</div>
			</div>

			<div class="row" id="general-settings">
				<div class="col-md-6">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h2 class="panel-title">Delete user group</h2>
						</div>
						<div class="panel-body">
							<p>If you delete the user group there's no way back.</p>
							<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-confirm">Delete this user group</button>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block modals %}
		<!-- Delete confirmation modal -->
		<div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content panel-danger">
					<div class="modal-header panel-heading">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
					</div>
					<div class="modal-body panel-body">
						<p class="text-danger">You are about to delete the user group <strong>{{goup.name}}</strong>. This can not be undone.</p>
						<ul>
							<li>All users who are assigned to this user group only will not be able to access the project any longer.</li>
						</ul>
					</div>
					<div class="modal-footer panel-footer">
						<button type="button" name="confirm" class="btn btn-danger">I'm absolutely sure, delete the user group!</button>
					</div>
				</div>
			</div>
		</div>
		<!-- /Delete confirmation modal -->
{% endblock %}

{% block libraries %}
			<script src="/static/js/admin.ui.messages.js"></script>
			<script src="/static/js/admin.ui.descriptioneditor.js"></script>
			<script src="/static/js/admin.ui.updater.js"></script>
			<script src="/static/js/admin.control.ajax.js"></script>
			<script src="/static/js/admin.ui.usergroup.js"></script>
			<script src="/static/js/admin.ui.view.usergroups.js"></script>
{% endblock %}