<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="item-info">Social interactions</h6>

        <h3>
            {% if project.islocked %}<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>{% endif %}
            {{ socialinteraction.name }}
        </h3>
    </div>

    <div class="list-group">
        <a href="{% url 'admin:socialinteraction_settings' socialinteraction.project.id socialinteraction.id %}" class="list-group-item {% if request.resolver_match.url_name == 'socialinteraction_settings' %}active{% endif %}">Settings</a>
    </div>
</div>
