{% load static %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="item-info">Social interactions</h6>

        <h3>
            {% if project.islocked %}<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>{% endif %}
            {{ socialinteraction.name }}
            <h6><img class="socialaccount_provider" src="{% static 'img/providers/' %}{{ socialinteraction.socialaccount.provider }}.svg" alt="{{ socialinteraction.socialaccount.get_provider.name }} social provider" /> @{{socialinteraction.socialaccount.get_provider_account }} </h6>
        </h3>
    </div>

    <div class="list-group">
        <a href="{% url 'admin:socialinteraction_post' socialinteraction.project.id socialinteraction.id %}" class="list-group-item {% if request.resolver_match.url_name == 'socialinteraction_post' %}active{% endif %}">Text to post</a>
    </div>
    <div class="list-group">
        <a href="{% url 'admin:socialinteraction_settings' socialinteraction.project.id socialinteraction.id %}" class="list-group-item {% if request.resolver_match.url_name == 'socialinteraction_settings' %}active{% endif %}">Settings</a>
    </div>
</div>
