{% extends 'base.html' %}
{% load static %}

{% block bodydata %}
    data-project-id="{{ project.id }}"
    data-project-locked="{{ project.islocked }}"
    data-socialinteraction-id="{{ socialinteraction.id }}"
    data-socialprovider="{{ socialaccount.provider }}"
{% endblock %}

{% block title %} | Project: {{ project.name }} - Social interaction: {{ socialinteraction.name }} -
    Settings{% endblock %}

{% block main %}
    <div class="page-header">
        <div class="container">
            <h1 class="smaller">
                {% if project.islocked %}<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>{% endif %}
                <a href="{% url 'admin:project_overview' project.id %}">{{ project.name }}</a>
            </h1>

            {% include 'projects/navigation.html' %}
        </div>
    </div>

    <div class="container">
        {% include 'snippets/messages.html' %}

        <div class="row">
            <div class="col-sm-4">
                {% include 'socialinteractions/socialinteraction_navigation.html' %}
            </div>

            <div class="col-sm-8">
                <h3 class="header">Post to {{ socialaccount.provider|capfirst }}<a
                        href="{% url 'admin:socialinteraction_list' project.id %}" class="btn btn-info pull-right"><span
                        class="glyphicon glyphicon-th-list"></span> Back to the list</a></h3>
                <form id="settings" method="POST"
                      action="{% url 'admin:socialinteraction_post' project.id socialinteraction.id %}" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="text_post" class="control-label">Text to post
                            {% if socialaccount.provider == "twitter" %} <span id="characters">(<span
                                    id="post_length">140</span> characters left)</span> {% endif %}</label>
                        <textarea class="form-control input-lg" rows="5" id="text_post" name="text_post"
                                {% if socialaccount.provider == 'twitter' %}
                                  maxlength="140"  {% endif %} >{{ socialinteraction.text_to_post }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="text_link" class="conrol-label">Link address</label>
                        <input class="form-control input-lg" type="text" id="text_link"
                               name="text_link" value= {{ socialinteraction.link }}>
                    </div>
                    <div class="alert alert-info">
                        <p>You can use the following placeholder tags in your text and link
                        <ul>
                            <li>$project_id$: This will display the project id.</li>
                            <li>$contribution_id$: This will display the contribution id.</li>
                            <li>$link$: this will create a link, which can be included in the tweet.</li>
                        </ul>
                        </p>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="reset" class="btn btn-link">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block libraries %}
    <script src="/static/js/admin.ui.forms.validate.js"></script>

    <script>
        var post_length = 0
        var url_length = 0

        if ($('body').data('socialprovider') == 'twitter') {
            $("#text_link").on('input', function () {
                url_length = $(this).val().length
                $('#text_post').attr('maxlength', 140 - url_length)
                update_post_length()
            }).trigger('input')
            $("#text_post").on('input', function () {
                post_length = $(this).val().length
                update_post_length()
            }).trigger('input')
            function update_post_length() {
                $('#post_length').text(140 - post_length - url_length)
            }
        }
    </script>

    <style>
        .socialaccount_provider {
            height: 25px;
            width: 25px;
        }

        #characters {
            font-weight: normal;
        }
    </style>
{% endblock %}
