Django>=1.8
django-aggregate-if==0.5
django-allauth==0.25.2
django_braces==1.8.1
django-hstore==1.4.2
django-model-utils==2.5
django-oauth-toolkit==0.10.0
django-pgjson==0.3.1
django-simple-history==1.8.1
django-youtube==0.2
django_nose==1.4.3
djangorestframework==3.3.3
djangorestframework-gis==0.10.1
easy-thumbnails==2.3
gdata==2.0.18
iso8601==0.1.11
moment==0.2.2
pillow==3.2.0
psycopg2==2.6.1
pytz==2016.4
requests==2.10.0
