Django==1.6
django-hstore==1.2.3
psycopg2==2.5.1
iso8601==0.1.8
django-oauth2-provider==0.2.6
South==0.8.4
django-model-utils==2.0.1
djangorestframework==2.3.12
djangorestframework-gis==0.2
moment==0.1.4
django-simple-history==1.3.0
django-aggregate-if==0.4
django-password-reset==0.7
django_braces==1.4.0