Django>=1.8
django-aggregate-if==0.5
django-allauth==0.24.1
django_braces==1.8.1
django-hstore==1.4.1
django-model-utils==2.4
django-oauth-toolkit==0.10.0
django-pgjson==0.3.1
django-simple-history==1.7.0
django-youtube==0.2
django_nose==1.4.3
djangorestframework==3.3.2
djangorestframework-gis==0.10.1
easy-thumbnails==2.3
gdata==2.0.18
iso8601==0.1.11
moment==0.2.2
pillow==3.1.0
psycopg2==2.6.1
pytz==2015.7
requests==2.9.1
