{% extends "base.html" %}

{% block title %} | Reset password{% endblock %}
{% block bodydata %} class="login" {% endblock %}

{% block main %}
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                {% if validlink %}
                    <h3 class="header">Set your new password</h3>

                    <p>Please enter your new password twice. So we can verify you typed it in correctly.</p>
                    <form action="{{url}}" method="post" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="new_password1">New password</label>
                            <input type="password" class="form-control input-lg" name="new_password1" id="new_password1" required>
                        </div>
                        <div class="form-group">
                            <label for="new_password2">Repeat new password</label>
                            <input type="password" class="form-control input-lg" name="new_password2" id="new_password2" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Change my password</button>
                        </div>
                    </form>
                {% else %}
                    <h3 class="header">Password reset unsuccessful</h3>
                    <div class="alert alert-danger">
                        <p>The password reset link was invalid, possibly because it has already been used. Please <a href="{% url 'admin:password_reset' %}">request a new password reset</a>.</p>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
{% endblock %}

{% block libraries %}
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
            <script>window.jQuery || document.write('<script src="/static/lib/jquery/jquery-1.10.1.js"><\/script>')</script>
            <script src="/static/js/admin.ui.forms.validate.js"></script>
            <script src="/static/js/admin.ui.password.js"></script>
{% endblock %}
