{% for field in fields %}
	{% if forloop.first %}
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Key</th>
					<th>Description</th>
					<th>Type</th>
					<th>mandatory</th>
					<th>Min. Value</th>
					<th>Max. Value</th>
					{% if admin %}<th></th>{% endif %}
				</tr>
			</thead>
			<tbody>
	{% endif %}
				<tr>
					<td>{{field.name}} {% if field.status == status_types.INACTIVE %} <span class="label label-default">INACTIVE</span> {% endif %}</td>
					<td>{{field.key}}</td>
					<td>{{field.description}}</td>
					<td></td>
					<td align="center">{% if field.required %} <span class="glyphicon glyphicon-ok"></span> {% endif %}</td>
					<td align="right">{% if field.numericfield %} {% if field.numericfield.minval %} {{field.numericfield.minval}} {% endif %} {% else %} &mdash; {% endif %}</td>
					<td align="right">{% if field.numericfield %} {% if field.numericfield.maxval %} {{field.numericfield.maxval}} {% endif %} {% else %} &mdash; {% endif %}</td>
					{% if admin %}<td align="center"><a href="{% url 'field_view' featuretype.project.id featuretype.id field.id %}" rel="tooltip" data-toggle="tooltip" data-placement="right" title="Edit field"><span class="glyphicon glyphicon-edit"></span></a></td>{% endif %}
				</tr>
	{% if forloop.last %}
			</tbody>
		</table>
	</div>
	{% endif %}
{% empty %}
<div class="panel-body">
	Not fields are assigned to the feature type.
</div>
{% endfor %}