{% extends "base.html" %}

{% load value %}
{% load meta %}

{% block bodydata %} data-project-id="{{view.project.id}}" data-view-id="{{view.id}}" data-observation-id="{{observation.id}}"{% endblock %}
{% block title %} | Observation{% endblock %}

{% block main %}
        <div class="page-header">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="{% url 'admin:dashboard' %}">Dashboard</a></li>
                    {% if project %}
                    <li><a href="{% url 'admin:project_settings' project.id %}">{{ project.name }}</a></li>
                    <li><a href="{% url 'admin:project_observations' project.id %}">Data</a></li>
                    {% endif %}

                    {% if view %}
                    <li><a href="{% url 'admin:project_settings' view.project.id %}">{{ view.project.name }}</a></li>
                    <li><a href="{% url 'admin:view_settings' view.project.id view.id %}">{{ view.name }}</a></li>
                    <li><a href="{% url 'admin:view_data' view.project.id view.id %}">Data</a></li>
                    {% endif %}
                        
                    <li class="active">Observation</li>
                </ol>

                {% if project %}
                <h1>{{project.name}} </h1>
                <p class="lead">
                    {% if project.description %} {{project.description}} {% endif %}
                </p>
                {% endif %}

                {% if view %}
                <h1>{{view.name}} </h1>
                <p class="lead">
                    {% if view.description %} {{view.description}} {% endif %}
                </p>
                {% endif %}
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div id="observation-map"></div>
                    <p>{% meta observation %}</p>
                    <hr>
                    <button class="btn btn-warning btn-block" data-toggle="modal" data-target="#flag-review">Flag this observation for review</button>
                </div>
                <div class="col-sm-8">
                    <h3>{{observation.observationtype.name}}</h3>
                    <p>{{observation.observationtype.description}}</p>
                    <table class="table table-striped">
                        <tr><th>Field name</th><th>Value</th></tr>
                        {% for field in observation.observationtype.fields.all %}
                            <tr><td>{{field.name}}</td><td>{% value observation.current_data.attributes field %}</td></tr>
                        {% endfor %}
                    </table>

                    <h4>Comments</h4>
                    <p>No comments yet.</p>
                </div>
            </div>
        </div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="flag-review" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content panel-warning">
                    <div class="modal-header panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Flag this observation for review.</h4>
                    </div>
                    <div class="modal-body panel-body">
                        <p>Flag this observation for review, if you think that the observation contains errors or should be revisited.</p>
                        <p>Please use the text field below to describe your objection as detailed as possible.</p>
                        <textarea class="form-control" rows="8" placeholder="Describe your objection here."></textarea>
                    </div>
                    <div class="modal-footer panel-footer">
                        <button type="button" name="confirm" class="btn btn-warning" data-loading-text="Loading...">Flag for review</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block libraries %}
        <!-- LEAFLET -->
            <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
            <!--[if lte IE 8]>
                <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.ie.css" />
            <![endif]-->
            <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
        <!-- /LEAFLET -->

        <script type="text/javascript">
            $(function() {
                var feature = {{observation.location.geometry.geojson|safe}};

                var map = L.map('observation-map', {
                    center: [51.505, -0.09],
                    zoom: 13,
                    zoomControl: false
                });

                // add an OpenStreetMap tile layer
                L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);
                var l = L.geoJson(feature).addTo(map);
                map.fitBounds(l.getBounds());
            });
        </script>
{% endblock %}