{% extends "base.html" %}

{% block bodydata %} 
    {% if project %}data-project-id="{{project.id}}" {% if my_contributions %}my-contributions="true"{% endif %}{% endif %}
    {% if view %}data-project-id="{{view.project.id}}" data-view-id="{{view.id}}"{% endif %}
{% endblock %}

{% block title %}Observations{% endblock %}

{% block main %}
        <div class="page-header">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="{% url 'admin:dashboard' %}">Dashboard</a></li>
                    {% if project %}
                    <li><a href="{% url 'admin:project_settings' project.id %}">{{ project.name }}: Settings</a></li>
                    <li class="active">Observations</li>
                    {% endif %}

                    {% if view %}
                    <li><a href="{% url 'admin:project_settings' view.project.id %}">{{ view.project.name }}</a></li>
                    <li><a href="{% url 'admin:view_settings' view.project.id view.id %}">{{ view.name }}</a></li>
                    <li class="active">Observations</li>
                    {% endif %}
                </ol>

                {% if project %}
                <h1>{{project.name}}</h1>
                <p class="lead">{{project.description}}</p>
                {% endif %}

                {% if view %}
                <h1>{{view.name}} </h1>
                <p class="lead">
                    {% if view.description %} {{view.description}} {% endif %}
                </p>
                {% endif %}
            </div>
        </div>

        <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default"> <!-- View list -->
                    <div class="panel-heading">
                        <h2 class="panel-title">Views</h2>
                    </div>
                    <div class="list-group">
                        {% if admin %}
                        {% if view %}
                        <a class="list-group-item {% if project %}active {% endif %}" href="{% url 'admin:project_observations' view.project.id %}">
                        {% else %}
                        <a class="list-group-item {% if project and not my_contributions %}active {% endif %}" href="{% url 'admin:project_observations' project.id %}">
                        {% endif %}
                            <h4 class="list-group-item-heading">All data</h4>
                            <p class="list-group-item-text">All data contributed to the project.</p>
                        </a>
                        {% endif %}
                        {% if contributor %}
                        {% if view %}
                        <a class="list-group-item" href="{% url 'admin:my_observations' view.project.id %}">
                        {% else %}
                        <a class="list-group-item {% if my_contributions %}active{% endif %}" href="{% url 'admin:my_observations' project.id %}">
                        {% endif %}
                            <h4 class="list-group-item-heading">My contributions</h4>
                            <p class="list-group-item-text">All data you have contributed to the project.</p>
                        </a>
                        {% endif %}
                        {% for dataview in views %}
                        <a class="list-group-item {% if dataview.id == view.id%}active{% endif %}" href="{% url 'admin:view_data' dataview.project.id dataview.id %}">
                            <h4 class="list-group-item-heading">{{ dataview.name }}</h4>
                            <p class="list-group-item-text">{{ dataview.description }}</p>
                        </a>
                        {% endfor %}
                    </div>
                </div> <!-- /View List -->
            </div>
            <div class="col-sm-8">
                <div id="map"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block libraries %}
        <script src="/static/lib/handlebars/handlebars.js"></script>
        <script src="/static/js/templates.js"></script>
    <!-- LEAFLET -->
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.ie.css" />
        <![endif]-->
        <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
    <!-- /LEAFLET -->

    <!-- CUSTOM SPECIALS-->
        <script src="/static/js/admin.ui.map.js"></script>
        <script src="/static/js/admin.control.ajax.js"></script>
        <script src="/static/js/admin.ui.messages.js"></script>
    <!-- /CUSTOM SPECIALS-->
{% endblock %}x