{% extends "base.html" %}

{% block title %} | Your password reset{% endblock %}
{% block bodydata %} class="login" {% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <h3 class="header">{% if token_fail %}Bad token{% else %}Set your new password{% endif %}</h3>
            {% include 'snippets/messages.html' %}

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <div class="alert alert-danger">
                    <p>The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
                </div>
            {% else %}

            {% if form.errors %}
                <div class="alert alert-danger">
                    <p>An error occurred. Please try again.</p>
                </div>
            {% endif %}

            <form role="form" action="." method="POST" novalidate>
                {% csrf_token %}

                <div class="form-group {% if form.password1.errors %}has-error{% endif %}">
                    <label for="password1">New password</label>
                    <input type="password" class="form-control input-lg" id="password1" name="password1" required />
                </div>

                <div class="form-group {% if form.password2.errors or form.non_field_errors %}has-error{% endif %}">
                    <label for="password2">Repeat new password</label>
                    <input type="password" class="form-control input-lg" id="password2" name="password2" required />
                    {% if form.password2.errors %}<span class="help-block">{{ form.password2.errors|striptags }}</span>{% endif %}
                    {% if form.non_field_errors %}<span class="help-block">{{ form.non_field_errors|striptags }}</span>{% endif %}
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Change my password</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block libraries %}
<script src="/static/js/admin.ui.forms.validate.js"></script>
{% endblock %}
