{% extends "base.html" %}

{% block title %} | Your password reset{% endblock %}
{% block bodydata %} class="login" {% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <h3 class="header">Password reset complete</h3>
            {% include 'snippets/messages.html' %}

            <div class="alert alert-success">
                <p>Your new password has been set. You may go ahead and <a href="{% url 'account_login' %}">log in</a> now.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
