{% extends "base.html" %}

{% block title %} | Register a new application{% endblock %}

{% block main %}
        <div class="page-header">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="{% url 'admin:dashboard' %}">Dashboard</a></li>
                    <li class="active">Register a new application</li>
                </ol>
                <h1>Register a new application</h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <form role="form" class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2" method="POST" action="{% url 'admin:app_register' %}" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name" class="control-label">Name (required)</label>
                        <input type="text" class="form-control input-lg" id="name" name="name" required>
                    </div>

                    <div class="form-group">
                        <label for="description" class="control-label">Description (required)</label>
                        <textarea class="form-control input-lg" rows="5" name="description" id="description" required></textarea>
                    </div>

                    <div class="form-group">
                        <label for="download_url" class="control-label">Download / welcome page URL (required)</label>
                        <input type="url" class="form-control input-lg" id="download_url" name="download_url" required>
                    </div>

                    <div class="form-group">
                        <label for="description" class="control-label">Redirect URL (required)</label>
                        <input type="url" class="form-control input-lg" id="redirect_url" name="redirect_url" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="{% url 'admin:dashboard' %}" class="btn btn-default" role="button">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}

{% block libraries %}
            <script src="/static/js/admin.ui.forms.validate.js"></script>
{% endblock %}