{% extends 'base.html' %}
{% load filter_tags %}

{% block bodydata %}
data-project-id="{{ project.id }}"
data-project-locked="{{ project.islocked }}"
data-usergroup-id="{{ usergroup.id }}"
{% endblock %}

{% block title %} | Project: {{ project.name }} - User group: {{ usergroup.name }} - Data{% endblock %}

{% block main %}
<div class="page-header">
    <div class="container">
        <h1 class="smaller">
            {% if project.islocked %}<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>{% endif %}
            <a href="{% url 'admin:project_overview' project.id %}">{{ project.name }}</a>
        </h1>

        {% include 'projects_navigation.html' %}
    </div>
</div>

<div class="container">
    {% include 'snippets/messages.html' %}

    <div class="row">
        <div class="col-sm-4">
            {% include 'users/usergroup_navigation.html' %}
        </div>

        <div class="col-sm-8" id="members">
            <h3 class="header">
                {% if project.islocked %}<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>{% endif %}
                User group data
            </h3>

            {% if usergroup.project.isprivate %}
                <form role="form" id="data-access" method="POST" action="{% url 'admin:usergroup_data' project.id usergroup.id %}" novalidate>
                    {% csrf_token %}

                    <input type="hidden" name="filters" value="-1">

                    {% if not project.categories.all %}
                        <p>Unfortunately, you cannot modify user group data when there are no categories added to the project.</p>
                    {% else %}
                        <fieldset>
                            <div class="radio">
                                <label>
                                    <input type="radio" id="all" name="permission" value="all" {% if not usergroup.filters %}checked="true"{% endif %} {% if project.islocked %}disabled{% endif %} />
                                    <strong>All data</strong>
                                    <p>Members can access all data of the project.</p>
                                </label>
                            </div>

                            <div class="radio">
                                <label>
                                    <input type="radio" id="restricted" name="permission" value="restricted" {% if usergroup.filters %}checked="true"{% endif %} {% if project.islocked %}disabled{% endif %} />
                                    <strong>Subset</strong>
                                    <p>Members can access a subset of the project data only.</p>
                                </label>
                            </div>
                        </fieldset>

                        {% if project.categories.all %}
                            <fieldset id="filter" {% if not usergroup.filters %}class="hidden"{% endif %}>
                                {% if not project.islocked %}<p>Select categories that will be accessible through the user group:</p>{% endif %}

                                {% for category in project.categories.all %}
                                    <div class="category checkbox">
                                        <label>
                                            <input type="checkbox" class="category" name="category" value="{{ category.id }}" {% if usergroup.filters|is_in:category.id %}checked="checked"{% endif %} {% if project.islocked %}disabled{% endif %} />
                                            {{ category.name }}
                                            {% if not project.islocked %}{% show_restrict usergroup.filters category %}{% endif %}
                                        </label>

                                        {% if usergroup.filters|is_in:category.id %}
                                            {% show_fields usergroup.filters category %}
                                        {% endif%}
                                    </div>
                                {% endfor %}
                            </fieldset>
                        {% endif %}

                        <div class="form-group">
                            {% if not project.islocked %}
                                <button type="submit" class="btn btn-primary">Save</button>
                            {% else %}
                                {% if not usergroup.filters %}<hr />{% endif %}
                                <p class="lead text-center">The project is locked, therefore user group data cannot be modified.</p>
                            {% endif %}
                        </div>
                    {% endif %}
                </form>
            {% else %}
                <div class="alert alert-info">
                    <p>This project is public, therefore all data of the project is public too. To restrict access make the project private under <a href="{% url 'admin:project_settings' project.id %}" class="alert-link">Project Settings</a> first.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block libraries %}
<script src="/static/lib/moment/moment.min.js"></script>

<script src="/static/lib/handlebars/handlebars.js"></script>
<script src="/static/js/templates.js"></script>

<link rel="stylesheet" href="/static/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
<script src="/static/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

<script src="/static/js/admin.ui.filters.data.js"></script>
<script src="/static/js/admin.ui.forms.validate.js"></script>
<script src="/static/js/admin.control.ajax.js"></script>
{% endblock %}
