{% extends 'base.html' %}

{% block bodydata %}
data-project-id="{{ project.id }}"
data-project-locked="{{ project.islocked }}"
{% endblock %}

{% block title %} | Project: {{ project.name }} - Administrators{{% endblock %}

{% block main %}
<div class="page-header">
    <div class="container">
        <h1 class="smaller">
            {% if project.islocked %}<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>{% endif %}
            <a href="{% url 'admin:project_overview' project.id %}">{{ project.name }}</a>
        </h1>

        {% include 'projects/navigation.html' %}
    </div>
</div>

<div class="container">
    {% include 'snippets/messages.html' %}

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="item-info">User group</h6>

                    <h3>
                        {% if project.islocked %}<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>{% endif %}
                        Administrators
                    </h3>
                </div>

                <div class="panel-body">
                    <h5>Special settings for administrators</h5>
                    <p>Project administrators can access all data.</p>
                    <p>They can contribute new and moderate existing data, also they are allowed to change the settings of this project.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-8" id="members">
            {% include 'snippets/usergroup_editor.html' with users=project.admins.all admins=True %}
        </div>
    </div>
</div>
{% endblock %}

{% block libraries %}
<script src="/static/lib/handlebars/handlebars.js"></script>
<script src="/static/js/templates.js"></script>

<script src="/static/js/admin.ui.usergroup.users.js"></script>
<script src="/static/js/admin.control.ajax.js"></script>
{% endblock %}
