{% extends "base.html" %}

{% block title %} | Create new field{% endblock %}

{% block main %}
		<div class="page-header">
			<div class="container">
				<ol class="breadcrumb">
					<li><a href="{% url 'admin:dashboard' %}">Dashboard</a></li>
					<li><a href="{% url 'admin:project_detail' observationtype.project.id %}">{{ observationtype.project.name }}</a></li>
					<li><a href="{% url 'admin:observationtype_detail' observationtype.project.id observationtype.id %}">{{ observationtype.name }}</a></li>
					<li class="active">Create new field</li>
				</ol>
				<h1>Create new field</h1>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<form  role="form" class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2" method="POST" action="#" novalidate>
					{% csrf_token %}
					<div class="form-group">
						<label for="name" class="control-label">Name (required)</label>
						<input type="text" class="form-control input-lg" id="name" name="name" required>
					</div>

					<div class="form-group">
						<label for="key" class="control-label">Key (required)</label>
						<input type="text" class="form-control input-lg" id="key" name="key" maxlength="30" required>
					</div>

					<div class="form-group">
						<label for="description" class="control-label">Description (required)</label>
						<textarea class="form-control input-lg" rows="5" name="description" id="description" required></textarea>
					</div>

					<div class="form-group">
						<label for="status" class="control-label">Type</label>
							<select name="type" id="type" class="form-control" required>
							<option value="">Please select the data type of the field.</option>
							{% for field in fieldtypes %}
								<option value="{{ field.fieldtype }}">{{ field.type_name }}</option>
							{% endfor %}
						</select>
					</div>

					<div class="form-group">
						<div class="checkbox">
							<label><input type="checkbox" name="required"> A value for this field is mandatory.</label>
						</div>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-primary">Save</button>
						<a href="{% url 'admin:observationtype_detail' observationtype.project.id observationtype.id %}" class="btn btn-default" role="button">Cancel</a>
					</div>
				</form>
			</div>
		</div>
{% endblock %}

{% block libraries %} 
			<script src="/static/js/admin.ui.forms.validate.js"></script>
{% endblock %}