{% extends "base.html" %}

{% block title %} | Create new field{% endblock %}

{% block main %}
		<div class="page-header">
            <div class="container">
                <h1>{{category.project.name}}</h1>
                <ul class="header-nav">
                    <li class="active"><a href="{% url 'admin:category_list' category.project.id %}">Categories <span class="badge">{{ category.project.observationtypes.count }}</span></a></li>
                    <li><a href="#">Data groupings <span class="badge">{{ category.project.views.count }}</span></a></li>
                    <li><a href="#">User groups <span class="badge">{{ category.project.usergroups.count }}</span></a></li>
                </ul>
            </div>
        </div>

		<div class="container">
			<div class="row">
				<form  role="form" class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2" method="POST" action="#" novalidate>
					<h3 class="header">Create new field for category {{ category.name }}</h3>
					{% csrf_token %}
					<div class="form-group">
						<label for="name" class="control-label">Name (required)</label>
						<input type="text" class="form-control input-lg" id="name" name="name" required {%if data %}value="{{data.name}}"{% endif %}>
					</div>

					<div class="form-group {% if key_error %}has-error{% endif%}">
						<label for="key" class="control-label">Key (required)</label>
						<input type="text" class="form-control input-lg" id="key" name="key" maxlength="30" required pattern="^\w+$" {%if data %}value="{{data.key}}"{% endif %}>
						{% if key_error %}<span class="help-block">A field with that key already exists.</span>{% endif %}
					</div>

					<div class="form-group">
						<label for="description" class="control-label">Description</label>
						<textarea class="form-control input-lg" rows="5" name="description" id="description" {%if data %}value="{{data.description}}"{% endif %}></textarea>
					</div>

					<div class="form-group">
						<label for="status" class="control-label">Type</label>
						<select name="type" id="type" class="form-control" required>
							<option value="">Please select the data type of the field.</option>
							{% for field in fieldtypes %}
								<option value="{{ field.fieldtype }}" {% if data.type == field.fieldtype %}selected{% endif %}>{{ field.type_name }}</option>
							{% endfor %}
						</select>
					</div>

					<div class="row hidden" id="minmax">
                        <div class="form-group col-sm-6">
                            <label for="minval" class="control-label">Minimum value</label>
                            <input type="number" step="0.01" class="form-control" id="minval" name="minval" placeholder="e.g.; 1.642">
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="maxval" class="control-label">Maximum value</label>
                            <input type="number" step="0.01" class="form-control" id="maxval" name="maxval" placeholder="e.g.; 4541.6">
                        </div>
                    </div>

					<div class="form-group">
						<div class="checkbox">
							<label><input type="checkbox" name="required" {% if data.required %}checked{% endif %}> A value for this field is mandatory.</label>
						</div>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-primary">Save</button>
						<button type="reset" class="btn btn-primary btn-link">Reset</button>
					</div>
				</form>
			</div>
		</div>
{% endblock %}

{% block libraries %} 
			<script src="/static/js/admin.ui.forms.validate.js"></script>
			<script src="/static/js/admin.ui.field.create.js"></script>
{% endblock %}