{% extends "base.html" %}

{% block title %} | Create new observation type{% endblock %}

{% block main %}
		<div class="page-header">
			<div class="container">
				<ol class="breadcrumb">
					<li><a href="{% url 'admin:dashboard' %}">Dashboard</a></li>
					<li><a href="{% url 'admin:project_settings' project.id %}">{{ project.name }}</a></li>
					<li class="active">Create new observation type</li>
				</ol>
				<h1>Create new observation type</h1>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<form  role="form" class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2" method="POST" action="{% url 'admin:observationtype_create' project.id %}" novalidate> 
					{% csrf_token %}
					<div class="form-group">
						<label for="name" class="control-label">Name (required)</label>
						<input type="text" class="form-control input-lg" id="name" name="name" required>
					</div>

					<div class="form-group">
						<label for="description" class="control-label">Description (required)</label>
						<textarea class="form-control input-lg" rows="5" name="description" id="description" required></textarea>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-primary">Save</button>
						<a href="{% url 'admin:project_settings' project.id %}" class="btn btn-default" role="button">Cancel</a>
					</div>
				</form>
			</div>
		</div>
{% endblock %}

{% block libraries %} 
			<script src="/static/js/admin.ui.forms.validate.js"></script>
{% endblock %}