body {
	padding-bottom: 20px;
}

body#home {
	background: url(../img/city.jpg) no-repeat 50% 50%;
}

body#home div.jumbotron {
	background-color: transparent;
	padding: 100px 0;
}

	body#home div.jumbotron .super-heading {
		text-shadow: 0 0 10px #555;
		color: #fff;
	}

	body#home div.jumbotron h1 {
		margin-top: 0;
	}

	body#home div.jumbotron .footer {
		font-size: 14px;
		font-weight: normal;
	}

	body#home div.jumbotron .footer .panel-default {
		text-align: center;
		background-color: rgba(255,255,255,0.7);
		border: none;
	}

	body#home div.jumbotron .footer .panel-default .panel-body {
		padding: 5px;
	}

body.login {
	padding-top: 90px;
}

body.login div.page-header {
	margin-top: -40px;
}

.row {
	margin-bottom: 30px;
}

.loading {
	background: url(/static/img/ajax-loader.gif) no-repeat;
	background-position: right 10px top 50%;
}

.panel-heading.loading {
	background-position: right 10px top 10px;
}

.success {
	background: url(/static/img/success.png) no-repeat;
	background-position: right 10px top 50%;
}

.panel-heading.success {
	background-position: right 10px top 10px;
}

#descriptionText.success,
.checkbox.success {
	padding-right: 35px;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

.navbar-default {
	background-color: #f5f5f5;
}

div.page-header {
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 30px;
	background-color: #fafafa;
}

div.page-header .breadcrumb {
	background-color: #fafafa;
	border-bottom: 1px solid #eee;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

div.page-header .breadcrumb > li + li:before {
	content: "\00BB";
}

	div.page-header h1 {
		margin-top: 20px;
		margin-bottom: 5px;
	}

		div.page-header h1 small {
			display: block;
		}

	div.page-header p.lead {
		margin-bottom: 0;
	}

	div.page-header .form-inline {
		margin-top: 0;
		margin-bottom: 0;
	}
		div.page-header .form-inline > .form-group {
			width: 100%;
		}

		@media (min-width: 768px) {
			div.page-header .form-inline > .form-group {
				width: 583px;
			}
		}

		div.page-header .form-inline p.error {
			margin-top: 10px;
		}

	div.page-header > .col-sm-12 {
		padding-left: 0;
		padding-right: 0;
	}

		div.page-header > .col-sm-12 > .alert {
			margin: 5px 0 0 0;
		}

div#map {
	height: 300px;
}

.panel-title + p {
	margin-top: 0.5em;
}

ul.newsfeed li {
	margin-top: 0.7em;
}

ul.newsfeed li:first-child {
	margin-top: 0;
}

ul.newsfeed li span.glyphicon {
	margin-right: 0.5em;
}

ul.type-away {
	width: 280px;
	margin-left: 20px;
	margin-top: -10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: 0;
}

.list-group-item.active a {
	color: #fff;
}

.bordered-panel .tab-pane {
	padding: 15px;
	border: 0 solid #ddd;
	border-width: 0 1px 1px 1px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

ol.comments > li {
	margin-bottom: 2em;
	padding-left: 19px;
}

	ol.comments > li > header {
		margin-left: -19px;
		color: #999;
	}

		ol.comments > li > header > span {
			margin-right: 5px;
		}

	ol.comments > li > footer {
		margin-bottom: 1em;
	}

	ol.comments > li > ol.comments {
		margin-left: 30px;
	}

div.quick-stats {
	border-left: 5px solid #f0ad4e;
	background-color: #fcf8f2;
	padding: 20px;
	font-size: 1.3em
}

	div.quick-stats span.number {
		font-size: 1.75em;
	}

footer {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid #eee;
	background-color: #fafafa;
}

footer p {
	margin: 0;
}