<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>Open Community Maps | Dashboard</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="../../static/lib/bootstrap/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="../../static/lib/bootstrap/bootstrap-theme.min.css"> -->
        <link rel="stylesheet" href="../../static/css/admin.css">

        <script src="../../static/lib/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Open Community Maps</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Peter Schmeichel</a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Sign out</a></li>
                    </ul>
                </div><!--/.navbar-collapse -->
            </div>
        </div>

      

        <div class="container">
            <div class="page-header">
                <h1>Welcome back, Peter!</h1>
            </div>
            <div class="row">

                <div class="col-lg-6">
                    <h3>Here's what happed since your last visit</h3>
                    <ul class="list-unstyled newsfeed">
                        <li><span class="glyphicon glyphicon-plus"></span> <a href="#">Peter Schmeichel</a> created View <a href="view.html">Movie Theatres</a>.</li>
                        <li><span class="glyphicon glyphicon-plus"></span> <a href="#">George Best</a> added a new field <em>Address</em> to Project <a href="project.html">Piggy and Kermit</a>.</li>
                        <li><span class="glyphicon glyphicon-remove"></span> <a href="#">Carlos Valderama</a> deleted View <a href="view.html">Parks</a>.</li>
                        <li><span class="glyphicon glyphicon-pencil"></span> <a href="#">Carlos Valderama</a> edited View <a href="view.html">Coffee Shops</a>.</li>
                    </ul>
                </div>

                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Your Projects</h2>
                        </div>
                        <div class="list-group">
                            <a href="project.html" class="list-group-item">
                                <h4 class="list-group-item-heading">Piggy and Kermit</h4>
                                <p class="list-group-item-text">This is a map that shows all spots that important to our relationship.</p>
                            </a>
                            <a href="project.html" class="list-group-item">
                                <h4 class="list-group-item-heading">Hampstead Heath littering</h4>
                                <p class="list-group-item-text">We record dog shit and littering ans stuff.</p>
                            </a>
                            <a href="project.html" class="list-group-item">
                                <h4 class="list-group-item-heading">Coffee shop gems</h4>
                                <p class="list-group-item-text">Where to get a decent coffee aroung town.</p>
                            </a>
                        </div>
                        <div class="panel-footer">
                            <a href="project.edit.html" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create new Project</a>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <footer>
                <p>&copy; <a href="http://www.ucl.ac.uk/excites">Excites Research Group</a> 2014</p>
            </footer>
        </div> <!-- /container -->  
    </body>
</html>
