{% extends "base.html" %}

{% block bodydata %} data-project-id="{{project.id}}"{% endblock %}
{% block title %} | Project: {{project.name}}{% endblock %}

{% block main %}
    {% csrf_token %}
        <div class="page-header">
            <div class="container">
                <h1 class="smaller"><a href="{% url 'admin:project_overview' project.id %}">{{project.name}}</a></h1>
                <ul class="nav nav-tabs header-nav">
                    <li role="presentation"><a href="{% url 'admin:project_overview' project.id %}">Project home</a></li>
                    <li role="presentation"><a href="{% url 'admin:category_list' project.id %}">Categories</a></li>
                    <li role="presentation"><a href="{% url 'admin:usergroup_list' project.id %}">User groups</a></li>
                    <li role="presentation"><a href="{% url 'admin:subset_list' project.id %}">Subsets</a></li>
                    <li role="presentation" class="active"><a href="{% url 'admin:project_extend' project.id %}">Geographic extent</a></li>
                    <li role="presentation"><a href="{% url 'admin:project_settings' project.id %}">Settings</a></li>
                </ul>
            </div>
        </div>

        <div class="container">
            {% include 'snippets/messages.html' %}

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="header">Geographic Extent</h3>
                    <div id="map"></div>
                    <form method="POST" action="{% url 'admin:project_extend' project.id %}" novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="geometry" id="geometry" value="{{ project.geographic_extend.json }}">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="reset" class="btn btn-link">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}

{% block libraries %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js"></script>
<script src="/static/js/admin.ui.project.extent.js"></script>
{% endblock %}
