{% if contributors %}
	<div class="panel-body">
		<div class="checkbox">
			<label><input type="checkbox" {% if project.everyonecontributes %} checked="true" {% endif %}> Everyone can contribute</label>
		</div>
	</div>
{% endif %}
	<ul class="list-group user-list">
	{% for user in users %}
		<li class="list-group-item">{{user}} {% if user.first_name or user.last_name %}({{ user.first_name }} {{ user.last_name }}){% endif %} <a class="text-danger remove" data-user-id="{{ user.id }}" href="#"><small>remove</small></a></li>
	{% empty %}
		<li class="list-group-item">No users have been assigned to this group.</li>
	{% endfor %}
	</ul>
	<div class="panel-footer dropdown">
		<input type="text" class="form-control" placeholder="Type to find users to this group" autocomplete="off" data-provide="typeahead">
		<ul class="dropdown-menu type-away">
			<li role="presentation" class="dropdown-header">Click on item to add user</li>
		</ul>
	</div>