<div class="header">
	<div class="row">
		<div class="col-sm-6"><h3>Members</h3></div>
		<div class="col-sm-6 dropdown">
			<input type="text" id="find-users" class="pull-right form-control" placeholder="Search for users to add to the group">
			<ul class="dropdown-menu type-away">
				<li role="presentation" class="dropdown-header">Click on item to add user</li>
			</ul>
		</div>
	</div>
</div>

<ul class="user-list">
	{% for user in users %}
		<li>{{user.display_name}} <a class="text-danger remove" data-user-id="{{ user.id }}" href="#"><small>remove</small></a></li>
	{% empty %}
		<li>No users have been assigned to this group.</li>
	{% endfor %}
</ul>