{% if contributors %}
	<div class="panel-body">
		<div class="checkbox">
			<label><input type="checkbox" {% if project.everyonecontributes %} checked="true" {% endif %}> Everyone can contribute</label>
		</div>
	</div>
{% endif %}

{% for user in users %}
	{% if forloop.first %} 
		<ul class="list-group user-list">
	{% endif %}
			<li class="list-group-item">{% if user.first_name %}{{ user.get_full_name }}{% else %}{{user}}{% endif %} (<a class="text-danger remove" data-user-id="{{ user.id }}" href="#">remove</a>)</li>
	{% if forloop.last %} 
		</ul>
	{% endif %}
{% empty %}
	<div class="panel-body user-list">No users have been assigned to this group.</div>
{% endfor %}
	<div class="panel-footer dropdown">
		<input type="text" class="form-control" placeholder="Type to find users to this group" autocomplete="off" data-provide="typeahead">
		<ul class="dropdown-menu type-away">
			<li role="presentation" class="dropdown-header">Click on item to add user</li>
		</ul>
	</div>