{% extends "base.html" %}

{% block title %} | Dashboard{% endblock %}

{% block main %}
        <div class="page-header">
            <div class="container">
                <h1>Welcome back, {% if user.first_name %}{{user.first_name}}{% else %}{{user}}{% endif %}.</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Your Projects</h2>
                        </div>
                        {% if projects %}
                        <div class="list-group">
                            {% for project in projects %}
                            <a href="{% url 'admin:project_settings' project.id %}" class="list-group-item">
                                <h4 class="list-group-item-heading">{{project.name}}{% if project.status == status_types.inactive %} <small><span class="label label-default">INACTIVE</span></small>{% endif %}</h4>
                                {% if project.description %}<p class="list-group-item-text">{{project.description}}</p>{% endif %}
                            </a>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="panel-body">
                            <p>You are not eligible to access any project yet. <a href="{% url 'admin:project_create' %}">You may want to create a new project</a>.</p>
                        </div>
                        {% endif %}
                        <div class="panel-footer">
                            <a href="{% url 'admin:project_create' %}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create new Project</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">My Apps</h2>
                        </div>
                        <div class="list-group">
                        {% for app in apps %}
                            <a href="{% url 'admin:app_settings' app.id %}" class="list-group-item">
                                <h4 class="list-group-item-heading">{{app.name}}</h4>
                                <p class="list-group-item-text">{{app.description}}</p>
                            </a>
                        {% empty %}
                            <div class="list-group-item">
                                <p>You haven't registered any third-party applications yet. <a href="{% url 'admin:app_register' %}">Register an application now</a>.</p>
                            </div>
                        {% endfor %}
                        </div>
                        <div class="panel-footer">
                            <a href="{% url 'admin:app_register' %}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Register an application</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
{% endblock %}