{% extends "base.html" %}

{% block title %} | Dashboard{% endblock %}

{% block main %}
        <div class="page-header">
            <div class="container">
                <h1>Welcome, {{user.display_name}}.</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Mangage your projects <a href="{% url 'admin:project_create' %}" class="pull-right btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span> Create new Project</a></h2>
                    {% for project in admin_projects %}
                    <div class="project">
                        <h3><a href="{% url 'admin:project_settings' project.id %}">{{project.name}}</a> {% if project.status == status_types.inactive %}<span class="label label-default">INACTIVE</span>{% endif %}</h3>
                        {% if project.description %}<p>{{project.description}}</p>{% endif %}
                        <p class="meta">Created by {{ project.creator.display_name }}</p>
                    </div>
                    {% empty %}
                        <p>You are not eligible to manage a project. <a href="{% url 'admin:project_create' %}">How about creating your own project?</a></p>
                    {% endfor %}
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Here other projects, you are not an adminsitrator of. In order to view, contribute or moderate data please use your client application of choice.
                        </div>
                        <div class="list-group">
                            {% for project in involved_projects %}
                            <a href="{% url 'admin:project_overview' project.id %}" class="list-group-item">
                                <h4 class="list-group-item-heading">{{project.name}}{% if project.status == status_types.inactive %} <small><span class="label label-default">INACTIVE</span></small>{% endif %}</h4>
                                {% if project.description %}<p class="list-group-item-text">{{project.description}}</p>{% endif %}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="alert alert-info">
                        <h5><strong>Are you an application devloper?</strong></h5>
                        <p>Plese go the the <a href="">developer section</a> to register and manage your application.</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}