{% extends "base.html" %}

{% block title %} | Dashboard{% endblock %}

{% block main %}
        <div class="page-header">
            <div class="container">
                <h1>Welcome back, {% if user.first_name %}{{user.first_name}}{% else %}{{user}}{% endif %}.</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Here's what happed since your last visit</h3>
                    <ul class="list-unstyled newsfeed">
                        <li><span class="glyphicon glyphicon-plus"></span> <a href="#">Peter Schmeichel</a> created View <a href="view.html">Movie Theatres</a>.</li>
                        <li><span class="glyphicon glyphicon-plus"></span> <a href="#">George Best</a> added a new field <em>Address</em> to Project <a href="project.html">Piggy and Kermit</a>.</li>
                        <li><span class="glyphicon glyphicon-remove"></span> <a href="#">Carlos Valderama</a> deleted View <a href="view.html">Parks</a>.</li>
                        <li><span class="glyphicon glyphicon-pencil"></span> <a href="#">Carlos Valderama</a> edited View <a href="view.html">Coffee Shops</a>.</li>
                    </ul>
                </div>

                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Your Projects</h2>
                        </div>
                        {% if projects %}
                        <div class="list-group">
                            {% for project in projects %}
                            <a href="{% url 'admin:project_settings' project.id %}" class="list-group-item">
                                <h4 class="list-group-item-heading">{{project.name}}{% if project.status == status_types.inactive %} <small><span class="label label-default">INACTIVE</span></small>{% endif %}</h4>
                                {% if project.description %}<p class="list-group-item-text">{{project.description}}</p>{% endif %}
                            </a>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="panel-body">
                            <p>You are not eligible to access any project yet. <a href="{% url 'admin:project_create' %}">You may want to create a new project</a>.</p>
                        </div>
                        {% endif %}
                        <div class="panel-footer">
                            <a href="{% url 'admin:project_create' %}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create new Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}