{% extends "base.html" %}

{% block title %} | Sign up{% endblock %}
{% block bodydata %} class="login" {% endblock %}

{% block main %}
			{% if user_exists %}
			<div class="page-header">
				<div class="container">
					<h1>Registration error</h1>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
						<div class="alert alert-danger">You were trying to register a user with an username that already exists.</div>
					</div>
				</div>
			</div>
			{% endif %}

			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
						<div class="well">
							<h2 class="text-center">Sign up</h2>
							<form role="form" action="{% url 'admin:signup'%}" method="POST" novalidate>
								{% csrf_token %}
								<h4>Required fields</h4>
								<div class="form-group">
									<label for="username" class="sr-only">Choose a user name</label>
									<input type="text" class="form-control input-lg" id="username" name="username" placeholder="Choose a user name" required>
								</div>
								<div class="form-group">
									<label for="email" class="sr-only">Email</label>
									<input type="email" class="form-control input-lg" id="email" name="email" placeholder="Your email address" required>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="sr-only">Password</label>
									<input type="password" class="form-control input-lg" id="password" name="password" placeholder="Password" required>
								</div>

								<h4>Optional fields</h4>
								<div class="form-group">
									<label for="first_name" class="sr-only">First name</label>
									<input type="text" class="form-control input-lg" id="first_name" name="first_name" placeholder="Your first name">
								</div>
								 <div class="form-group">
									<label for="last_name" class="sr-only">Last name</label>
									<input type="text" class="form-control input-lg" id="last_name" name="last_name" placeholder="Your family name">
								</div>
								<div class="form-group text-center">
									<button type="submit" class="btn btn-primary">Sign up</button>
								</div>
							</form>
						</div>
						<p class="text-center">Already signed up? Please <a href="{% url 'admin:login'%}">sign in here</a> &bull; <a href="{% url 'admin:password_reset' %}">Forgot password?</a></p>
					</div>
				</div>
			</div>
{% endblock %}

{% block libraries %}
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
			<script>window.jQuery || document.write('<script src="/static/lib/jquery/jquery-1.10.1.js"><\/script>')</script>
			<script src="/static/js/admin.ui.forms.validate.js"></script>
{% endblock %}