{% extends "base.html" %}

{% block title %} | Your profile{% endblock %}

{% block main %}
        <div class="page-header">
            <div class="container">
                <h1 class="smaller"><a href="{% url 'admin:userprofile'%}">Your profile</a></h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h3 class="header">Change password</h3>
                    {% include 'snippets/messages.html' %}

                    <form role="form" action="" method="POST" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="old_password">Old password</label>
                            <input type="password" class="form-control input-lg" name="old_password" id="old_password" required>
                        </div>
                        <div class="form-group">
                            <label for="new_password1">New password</label>
                            <input type="password" class="form-control input-lg" name="new_password1" id="new_password1" required>
                        </div>
                        <div class="form-group">
                            <label for="new_password2">Repeat new password</label>
                            <input type="password" class="form-control input-lg" name="new_password2" id="new_password2" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Change my password</button>
                            <a href="{% url 'admin:password_reset' %}" class="btn btn-link">Forgot password?</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}

{% block libraries %}
            <script src="/static/js/admin.ui.forms.validate.js"></script>
            <script src="/static/js/admin.ui.password.js"></script>
{% endblock %}