{% extends "base.html" %}

{% block title %} | Your profile{% endblock %}

{% block main %}
        <div class="page-header">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="{% url 'admin:dashboard' %}">Dashboard</a></li>
                    <li class="active">Your profile</li>
                </ol>

                <h1>Your profile</h1>
            </div>
        </div>

        <div class="container">
            {% if password_reset %}
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        The password has been changed.
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Quick stats</h2>
                        </div>
                        <div class="panel-body">
                            <div class="stats">
                                <span class="number">{{num_contributions|length}}</span> observations
                            </div>
                            <div class="stats">
                                <span class="number">{{num_comments|length}}</span> comments
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Edit profile</h2>
                        </div>
                        <div class="panel-body">
                            <form role="form" action="{% url 'admin:userprofile' %}" method="POST" novalidate>
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="username">User name</label>
                                    <input type="text" class="form-control input-lg" id="username" name="username" placeholder="Choose a user name" value="{{user.username}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control input-lg" id="email" name="email" placeholder="Your email address" value="{{user.email}}" required>
                                </div>

                                <div class="form-group">
                                    <label for="first_name">First name</label>
                                    <input type="text" class="form-control input-lg" id="first_name" name="first_name" placeholder="Your first name" {% if user.first_name %}value="{{user.first_name}}"{% endif %}>
                                </div>
                                 <div class="form-group">
                                    <label for="last_name">Last name</label>
                                    <input type="text" class="form-control input-lg" id="last_name" name="last_name" placeholder="Your family name" {% if user.last_name %}value="{{user.last_name}}"{% endif %}>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Update profile</button>
                                    <a href="{% url 'admin:changepassword' %}" class="btn btn-link">Change password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block libraries %}
            <script src="/static/js/admin.ui.forms.validate.js"></script>
{% endblock %}