{% extends "base.html" %}

{% block title %} | {{group.name}}{% endblock %}
{% block bodydata %} data-project-id="{{group.project.id}}" data-group-id="{{group.id}}"{% endblock %}

{% block main %}
        <div class="page-header">
            <div class="container">
                <h1>{{group.project.name}}</h1>
                <ul class="header-nav">
                    <li><a href="{% url 'admin:category_list' group.project.id %}">Categories <span class="badge">{{ group.project.observationtypes.count }}</span></a></li>
                    <li><a href="{% url 'admin:grouping_list' group.project.id %}">Data groupings <span class="badge">{{ group.project.views.count }}</span></a></li>
                    <li class="active"><a href="{% url 'admin:usergroup_list' group.project.id %}">User groups <span class="badge">{{ group.project.usergroups.count }}</span></a></li>
                </ul>
            </div>
        </div>

        <div class="container">
            {% include 'snippets/messages.html' %}
            
            <div class="row">
                <div class="col-sm-4">
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>{{ group.name }}</h3>
                            {% if group.description %}<p>{{ group.description }}</p>{% endif %}
                        </div>
                        <div class="list-group">
                            <a href="" class="list-group-item active">Members</a>
                            <a href="" class="list-group-item">Permissions</a>
                            <a href="" class="list-group-item">Settings</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    {% include 'snippets/usergroup-editor.html' with users=group.users.all %}
                </div>
            </div>
        </div>
{% endblock %}

{% block libraries %}
            <script src="/static/lib/handlebars/handlebars.js"></script>
            <script src="/static/js/templates.js"></script>

            <script src="/static/js/admin.control.ajax.js"></script>
            <script src="/static/js/admin.ui.usergroup.users.js"></script>
{% endblock %}