{% extends "base.html" %}

{% load viewgroups %}

{% block bodydata %} data-project-id="{{group.project.id}}" data-group-id="{{group.id}}"{% endblock %}
{% block title %} | User group: {{group.name}}{% endblock %}

{% block main %}
        <div class="page-header">
            <div class="container">

                <ol class="breadcrumb">
                    <li><a href="{% url 'admin:dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'admin:project_settings' group.project.id %}">{{ group.project.name }}</a></li>
                    <li class="active">{{group.name}}</li>
                </ol>

                <h1>{{group.name}}</h1>
                <p class="lead">
                    <span id="descriptionText">{% if group.description %} {{group.description}} {% endif %}</span>
                    <button id="edit" type="button" class="btn btn-link"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                </p>
                <form class="form-inline hidden" id="description-form" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="sr-only" for="desription">User group description</label>
                        <input type="text" class="form-control" id="description" name="description" placeholder="Enter a view desription" {% if group.description %}value="{{group.description}}"{% endif %}>
                    </div>
                    <button type="submit" class="btn btn-primary" data-loading-text="Updating...">Save</button>
                    <button type="button" class="btn btn-link">Cancel</button>
                </form>
            </div>
        </div>

        <div class="container">
            <div class="row" id="users">
                <div class="col-md-6">
                    <div class="panel panel-default" id="usergroup-users">
                        <div class="panel-heading">
                            <h2 class="panel-title">Members</h2>
                        </div>

                        {% include 'snippets/usergroup-editor.html' with users=group.users.all %}
                    </div> <!-- /Administrators List -->

                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h2 class="panel-title">Delete user group</h2>
                        </div>
                        <div class="panel-body">
                            <p>If you delete the user group there's no way back.</p>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-confirm">Delete this user group</button>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6" id="permissions">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Permissions</h2>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="checkbox">
                                    <label><input class="group-permission" name="can_contribute" type="checkbox" {% if group.can_contribute %} checked="true" {% endif %}> Members of this user group can contribute to the project.</label>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="checkbox">
                                    <label><input class="group-permission" name="can_moderate" type="checkbox" {% if group.can_moderate %} checked="true" {% endif %}> Members of this user group can moderate data in the project.</label>
                                </div>
                            </div>
                        </div>
                        <div class="panel-heading">Maps</div>
                        <div class="list-group">
                            <li class="list-group-item">
                                <div class="checkbox">
                                    <label>
                                        <input class="view-permission" name="view" value="all" type="checkbox" {% if group.read_all_contrib %} checked="true" {% endif %}> All contributions
                                    </label>
                                </div>
                            </li>
                            {% viewgroups group %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block modals %}
        <!-- Delete confirmation modal -->
        <div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content panel-danger">
                    <div class="modal-header panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
                    </div>
                    <div class="modal-body panel-body">
                        <p class="text-danger">You are about to delete the user group <strong>{{goup.name}}</strong>. This can not be undone.</p>
                        <ul>
                            <li>All users who are assigned to this user group only will not be able to access the project any longer.</li>
                        </ul>
                    </div>
                    <div class="modal-footer panel-footer">
                        <button type="button" name="confirm" class="btn btn-danger">I'm absolutely sure, delete the user group!</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Delete confirmation modal -->
{% endblock %}

{% block libraries %}
            <script src="/static/lib/handlebars/handlebars.js"></script>
            <script src="/static/js/templates.js"></script>

            <script src="/static/js/admin.ui.messages.js"></script>
            <script src="/static/js/admin.ui.descriptioneditor.js"></script>
            <script src="/static/js/admin.ui.updater.js"></script>
            <script src="/static/js/admin.control.ajax.js"></script>
            <script src="/static/js/admin.ui.usergroup.users.js"></script>
            <script src="/static/js/admin.ui.usergroup.permissions.js"></script>
{% endblock %}