{% extends "base.html" %}

{% block title %} | Dashboard{% endblock %}

{% block main %}
            <div class="page-header">
                <h1>Welcome back, Peter!</h1>
            </div>
            <div class="row">

                <div class="col-sm-6">
                    <h3>Here's what happed since your last visit</h3>
                    <ul class="list-unstyled newsfeed">
                        <li><span class="glyphicon glyphicon-plus"></span> <a href="#">Peter Schmeichel</a> created View <a href="view.html">Movie Theatres</a>.</li>
                        <li><span class="glyphicon glyphicon-plus"></span> <a href="#">George Best</a> added a new field <em>Address</em> to Project <a href="project.html">Piggy and Kermit</a>.</li>
                        <li><span class="glyphicon glyphicon-remove"></span> <a href="#">Carlos Valderama</a> deleted View <a href="view.html">Parks</a>.</li>
                        <li><span class="glyphicon glyphicon-pencil"></span> <a href="#">Carlos Valderama</a> edited View <a href="view.html">Coffee Shops</a>.</li>
                    </ul>
                </div>

                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Your Projects</h2>
                        </div>
                        <div class="list-group">
                            <a href="project.html" class="list-group-item">
                                <h4 class="list-group-item-heading">Piggy and Kermit</h4>
                                <p class="list-group-item-text">This is a map that shows all spots that important to our relationship.</p>
                            </a>
                            <a href="project.html" class="list-group-item">
                                <h4 class="list-group-item-heading">Hampstead Heath littering</h4>
                                <p class="list-group-item-text">We record dog shit and littering ans stuff.</p>
                            </a>
                            <a href="project.html" class="list-group-item">
                                <h4 class="list-group-item-heading">Coffee shop gems</h4>
                                <p class="list-group-item-text">Where to get a decent coffee aroung town.</p>
                            </a>
                        </div>
                        <div class="panel-footer">
                            <a href="project.new.html" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create new Project</a>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}