{% extends "base.html" %}

{% block title %} | Create new field type{% endblock %}

{% block main %}
            <div class="page-header">
                <h1>Create new field</h1>
            </div>

            <div class="row">
                <form  role="form" class="form-horizontal col-md-8 col-md-offset-1" method="POST" action="{% url 'field_create' project.id featuretype.id %}" novalidate> 
                    {% csrf_token %}
                    <form  role="form" class="form-horizontal col-md-8 col-md-offset-1"> <!-- Project from -->
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" required>
                            <span class="help-block">This field is required.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="5" name="description" id="description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status" class="col-sm-2 control-label">Type</label>
                        <div class="col-sm-10">
                            <select name="type" id="type" class="form-control" required>
                                <option value="">Please select the data type of the field.</option>
                                {% for key, value in fieldtypes.items %}
                                    <option value="{{ key }}">{{ value.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label><input type="checkbox" name="required"> A value for this field is mandatory.</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a href="{% url 'featuretype_view' project.id featuretype.id %}" class="btn btn-default" role="button">Cancel</a>
                        </div>
                    </div>
                </form>
                    
                </form>
            </div>
{% endblock %}

{% block libraries %} 
            <script src="/static/js/admin.ui.forms.validate.js"></script>
{% endblock %}